#hero{
    position: absolute;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
.banner-title h1, .banner-title p{
    margin: 0;
}

.call-to-action{
    display: flex;
    gap: 1rem;
    justify-content: center;
}