nav{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    z-index: 999;
}
nav ul{
    display: flex;
    gap: 3rem;
}
li{
    list-style: none;
    align-self: center;
}

li a{
    text-decoration: none;
    color: var(--text-color);
    transition: ease-in-out 0.25s;
    
    &:hover{
        color: var(--accent-color);
    }
}

/* li a:hover{
    color: var(--accent-color);
} */

@media(max-width: 600px){
    nav ul li{
        display: none;
    }
}