button{
    background-color: transparent;
    border: 1px solid;
    border-color: var(--border-color);
    padding: 8px;
    box-shadow: none;
    appearance: none;
    cursor: pointer;
    transition: ease-in 0.2s;
    &:hover{
        background-color:var(--accent-color);
        border-color: var(--accent-color);
        color: var(--hover-text-color);
    }
    &:focus{
        background-color: black;
    }
}

/* button:hover{
    background-color:var(--accent-color);
    border-color: var(--accent-color);
    color: var(--hover-text-color);
} */