@import "tailwindcss";

@font-face {
  font-family: "Horizon";
  src: url("./assets/fonts/Horizon.otf");
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_opsz,wght.ttf");
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi-Variable.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-VariableFont_wdth,wght.ttf");
}

@font-face {
  font-family: "Roboto-Mono";
  src: url("./assets/fonts/RobotoMono-VariableFont_wght.ttf");
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background: #111111;
  --surface: #1a1a1a;
  --overlay: rgba(255, 255, 255, 0.05);
  --primary: #1aa879;

  --text: #f1f1f1;
  --secondary-text: #c0c0c0;
  --placeholder-text: #888888;
  --hover-text: #111111;
  --link-text: #82aaff;
  --accent: #1aa879;
  --accent-background: #184e3c;
  --background-highlight: #87bb93;
  --border: #f1f1f1;


  --button-background: var(--accent);
  --button-text: #111111;
  --button-text-hover: var(--hover-text);


  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-xxl: 4rem;
}

@theme inline {
  --font-title: "Horizon", sans-serif;
  --font-subtitle: "Inter", sans-serif;
  --font-body: "Satoshi", sans-serif;
  --font-mono: "Roboto-Mono", mono;

  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-overlay: var(--overlay);
  --color-primary: var(--primary);
  --color-cta: #f59e0b;
  --color-cta-highlight: #f3db72;
  --color-text: var(--text);
  --color-secondary-text: var(--secondary-text);
  --color-placeholder-text: var(--placeholder-text);
  --color-hover-text: var(--hover-text);
  --color-link-text: var(--link-text);

  --color-background-highlight: var(--background-highlight);

  --color-accent: var(--accent);

  --color-border: var(--border);


  --color-button-background: var(--button-background);
  --color-button-text: var(--button-text);
  --color-button-text-hover: var(--button-text-hover);


  --spacing-xxs: var(--spacing-xxs);
  --spacing-xs: var(--spacing-xs);
  --spacing-sm: var(--spacing-sm);
  --spacing-md: var(--spacing-md);
  --spacing-lg: var(--spacing-lg);
  --spacing-xl: var(--spacing-xl);
  --spacing-xxl: var(--spacing-xxl);

  --animate-ripple: ripple 500ms ease-out forwards;
  --animate-shimmer: shimmer 4s linear infinite;

  --breakpoint-xs: 480px;
  --breakpoint-mobile-xl: 600px;

  --text-md: 1rem;
  --text-hero: clamp(0.8rem, 3.5vw + 0.6rem, 6rem);
  --text-hero-subtitle: clamp(0.7rem, 2vw + 0.5rem, 3rem);
  --text-title: clamp(1.5rem, 3vw + 0.2rem, 5rem);

  --text-sm: clamp(0.8rem, 0.6vw + 0.7rem, 0.875rem);
  --text-md: clamp(1rem, 0.8vw + 0.8rem, 1.125rem);
  --text-lg: clamp(1.1rem, 1vw + 0.9rem, 1.25rem);
  --text-xl: clamp(1.25rem, 1.2vw + 1rem, 1.5rem);
  --text-2xl: clamp(1.5rem, 1.5vw + 1.1rem, 2rem);
}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  background-color: var(--background);
}

@keyframes ripple {
  from {
    transform: scale(0);
    opacity: 1;
  }

  to {
    transform: scale(4);
    opacity: 0;
  }
}

@keyframes shimmer {
  0% {
    background-position-x: 100%;
  }

  100% {
    background-position-x: -100%;
  }
}